//暗色主题适配
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;
@use './tailwind.scss';
@use './iconfont/iconfont.css';
@use './keyframes.scss';
// @import '@fortawesome/fontawesome-free/css/all.css';
@font-face {
  font-family: 'Oblique';
  src: url("../font/SmileySans-Oblique.ttf");
}
@font-face {
  font-family: 'XiHei';
  src: url('../font/LXGWNeoXiHei.ttf');
}
:root,html,body,div,span,p,i,img,section,main,header,footer,form,input,button,select,a,nav,article,aside,h1,h2,h3,h4,h5,h6 {
}
a {
  @apply text-text;
}
:root {
  font-family: 'XiHei','宋体','Oblique','微软雅黑', sans-serif;
  //font-size: 0.88125vw;
  @media (width < 640px) {
    font-size: calc(10px + .1vw);
  }
  @media (width >= 640px) {
    font-size: calc(12px + .1vw);
  }
  @media (width >= 768px) {
      font-size: calc(14px + .1vw);
  }
  @media (width >= 1024px) {
      font-size: calc(16px + .1vw);
  }
  @media (width >= 1280px) {
      font-size: calc(18px + .1vw);
  }
}
.part {
  //box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
  @apply relative p-2 bg-white dark:bg-dark rounded-md shadow-inner duration-500;
  &:hover {
    @apply shadow-md;
  }
}
.is-disabled {
  @apply cursor-not-allowed opacity-50;
}
.pagination {
  @apply flex justify-end rounded overflow-x-auto;
}

.part-button-group {
  :deep(.el-button) {
    @apply rounded;
    &:hover {
      @apply shadow-md;
    }
    &:active {
      @apply shadow-inner;
    }
  }
}

.wrap {
  @apply flex flex-col gap-4;
}
.copy__able {
  @apply cursor-pointer;
    &:hover {
        @apply underline;
    }
}
//富文本样式
.fr-box {
  .fr-toolbar {
    @apply bg-white dark:bg-dark;
    .fr-command.fr-btn {
      @apply bg-transparent dark:bg-slate-50;
    }
  }
  .fr-second-toolbar {
    @apply bg-white dark:bg-transparent;
  }
  &.fr-box.fr-basic .fr-element {
    @apply text-slate-900 dark:text-slate-50;
  }
  &.fr-box.fr-basic .fr-wrapper {
    @apply bg-white dark:bg-dark;
  }
}
.right-enter-active {
  animation: -right-enter .5s;
}
//.right-leave-active {
//  animation: -right-leave .5s;
//}
.left-enter-active {
  animation: -left-enter .5s;
}
//.left-leave-active {
//  animation: -left-leave .5s;
//}
