@font-face {
  font-family: "iconfont"; /* Project id 4139643 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1702278111446') format('woff2'),
       url('iconfont.woff?t=1702278111446') format('woff'),
       url('iconfont.ttf?t=1702278111446') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfyin:before {
  content: "\e600";
}

.iconfzhenyu:before {
  content: "\e6fb";
}

.iconfmai:before {
  content: "\e708";
}

.iconfdayu:before {
  content: "\e609";
}

.iconfzhongxue:before {
  content: "\e619";
}

.iconffuchen:before {
  content: "\e636";
}

.iconfbaoxue:before {
  content: "\e63b";
}

.iconfzhenxue:before {
  content: "\e63c";
}

.iconfa-baoyudabaoyutedabaoyu:before {
  content: "\e69b";
}

.iconfduoyun:before {
  content: "\e610";
}

.iconftaiyang:before {
  content: "\e611";
}

.iconfxuehua:before {
  content: "\e612";
}

.iconfbingbao:before {
  content: "\e613";
}

.iconfleidian:before {
  content: "\e614";
}

.iconfdaxue:before {
  content: "\e615";
}

.iconfxiaoxue:before {
  content: "\e616";
}

.iconfwu:before {
  content: "\e617";
}

.iconffeng:before {
  content: "\e618";
}

.iconfbaoyu:before {
  content: "\e61b";
}

.iconfzhongyu:before {
  content: "\e61c";
}

.iconfxiaoyu:before {
  content: "\e637";
}

.iconfleizhenyu:before {
  content: "\e638";
}

.iconfyujiaxue:before {
  content: "\e639";
}

.iconfshachenbao:before {
  content: "\e63a";
}

.iconfdingdan:before {
  content: "\e635";
}

.iconfbuilding_:before {
  content: "\e620";
}

.iconfjingdian:before {
  content: "\e88f";
}

.iconfwode:before {
  content: "\e634";
}

.iconficon:before {
  content: "\e69a";
}

.iconfshouye-shouye:before {
  content: "\e61a";
}

.iconfeyeclose:before {
  content: "\e67f";
}

.iconfeyeopen:before {
  content: "\e680";
}

.iconfsearch:before {
  content: "\e67d";
}

.iconffanhui:before {
  content: "\e61e";
}

.iconfzhifudingjin:before {
  content: "\e61f";
}

.iconfqianshuxieyi:before {
  content: "\e61d";
}

.iconfshangchuantupian:before {
  content: "\e621";
}

.iconfzaixianxuanfang:before {
  content: "\e622";
}

.iconfa-xiala2:before {
  content: "\e623";
}

.iconfxiala:before {
  content: "\e624";
}

.iconftingchechang:before {
  content: "\e625";
}

.iconfxiuxishi:before {
  content: "\e626";
}

.iconfyigui:before {
  content: "\e627";
}

.iconfxiuxianqu:before {
  content: "\e628";
}

.iconfshuzhuo:before {
  content: "\e629";
}

.iconfzhinengmensuo:before {
  content: "\e62a";
}

.iconfkuandai:before {
  content: "\e62b";
}

.iconfxiyifang:before {
  content: "\e62c";
}

.iconfdianshiji:before {
  content: "\e62d";
}

.iconfdiancilu:before {
  content: "\e62e";
}

.iconfanquanjiankong:before {
  content: "\e62f";
}

.iconfditie:before {
  content: "\e630";
}

.iconfyingyinqu:before {
  content: "\e631";
}

.iconfkongtiao:before {
  content: "\e632";
}

.iconfjianshenfang:before {
  content: "\e633";
}

.iconffrown:before {
  content: "\e77e";
}

.iconfmeh:before {
  content: "\e780";
}

.iconfsmile:before {
  content: "\e783";
}

.iconfhome:before {
  content: "\e7c6";
}

.iconflaptop:before {
  content: "\e7d7";
}

.iconfcar:before {
  content: "\e7d8";
}

.iconfstar:before {
  content: "\e7df";
}

.iconfwifi:before {
  content: "\e7e0";
}

.iconfkey:before {
  content: "\e7e1";
}

.iconfmenu:before {
  content: "\e7f4";
}

